@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, !</h1>
    <p class="lead">Use this platform to help recognize fellow employees for demonstrating Centric's Core Values (maybe add some sort of gammification piece here with a progress tracker?)</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Core Values</h2>
        <p>
            Stewardship <br> Culture <br /> Delivery Excellence <br /> Innovation <br /> Greater Good <br /> Integrity and Openness <br /> Balance
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/about-us/why-were-here/">Learn more </a></p>
    </div>
    <div class="col-md-4">
        <h2>Emoloyee Recognition</h2>
        <p>Do you know an employee that has been carrying out the core values of Centric? Click the button bellow to recognize them!</p>
        <p><a class="btn btn-default" href="#:>"@Html.ActionLink("Recognize", "Index", "Recognize")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track your Progress</h2>
        <p>Do you want to see if one of your coworkers reported you living out our Core values? Click the button bellow to track your progress!</p>
        <p><a class="btn btn-default" href="#:>"@Html.ActionLink("Track Progress", "Index", "Home")</a></p>
    </div>
</div>